.header-nav{
    font-size: 18px !important;
    background: #068587;
    padding-top: 5px;
}

.menus a{
    margin: 15px;
    color:#fff;
    vertical-align: middle;
    cursor: pointer;
}

.header-nav a.nav-link{
    margin-top: 10px;
}