.master-container{
    margin:15px;
}

.master-form input, select, textarea {
    width: 100%;
    max-width: 360px;
    display: block;
}

.search-result{
    position: absolute;
    background: #fff;
    border: 1px #ccc solid;
    color:#000;
    z-index: 9999;
    max-height: 300px;
    overflow: auto;
}
.search-result-each{
    padding: 3px;
    cursor: pointer;
    border-bottom:#63b884 1px solid; 
}
.search-result-each:hover{
    background: #63b884;
}