<div class="landing-container">
  <div class="clr-row">
    <div class="clr-col-lg-4 clr-col-12">
      <a routerLink="/main/out" class="card clickable">
        <div class="card-header">
          <span><clr-icon shape="unarchive" size="64"></clr-icon></span>&nbsp;Barang Keluar
        </div>
      </a>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
      <a routerLink="/main/back" class="card clickable">
        <div class="card-header">
            <span><clr-icon shape="archive" size="64"></clr-icon></span>&nbsp;Pengembalian Barang
        </div>
      </a>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
      <a routerLink="/main/master/maintenance" class="card clickable">
        <div class="card-header">
            <span><clr-icon shape="block" class="is-solid" size="64"></clr-icon></span>&nbsp;Maintain Inventory
        </div>
      </a>
    </div>
    <div class="clr-col-lg-4 clr-col-12">
      <a routerLink="/main/master-list/" class="card clickable">
        <div class="card-header">
            <span><clr-icon shape="blocks-group" class="is-solid" size="64"></clr-icon></span>&nbsp;List Inventory
        </div>
      </a>
    </div>
    <!-- <div class="clr-col-lg-4 clr-col-12">
        <a routerLink="/main/opname" class="card clickable">
          <div class="card-header">
              <span><clr-icon shape="vm" class="is-solid" size="64"></clr-icon></span>&nbsp;Inventory Opname
          </div>
        </a>
      </div> -->
  </div>
</div>